<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Group Generator</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Lunch Group Generator", root_path, id: "logo" %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <footer class="footer">
        <small>
          The Lunch Group Generator</a>
          by <a href="https://github.com/pankratz117/">Dieter Pankratz</a>
        </small>
        <nav>
      </footer>
    </div>
  </body>
</html>
